<div class="col-sm-12 text-center">
    <br />
    <a class=" btn btn-danger" style="width: 100px" asp-action="Index"><em class="fas fa-undo-alt"></em> Cancel</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" style="width: 100px" class="btn btn-success"><em class="fas fa-save"></em> Save</button>
</div>